# Ігнорувати всі HTML файли - Django теги не повинні форматуватися
# Prettier не повинен форматувати Django шаблони, щоб не ламати синтаксис тегів
*.html
**/*.html
templates/
templates/**/*
**/templates/**/*
